<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lista Clientes</title>
    <link rel="icon" type="image/png" th:href="@{/imgs/logoEmpresa.png}" />
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- Barra de navegación-->
<header class="lg:px-16 px-4 flex flex-wrap items-center py-4 shadow-sm bg-violet-950 rounded-t-lg shadow-lg">
    <div class="flex-1 flex justify-between items-center mix-blend-screen">
        <a th:href="@{/}" class="text-4xl text-fuchsia-500 font-extrabold">Lo-Fi Arcade</a>
    </div>

    <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg class="fill-current text-pink-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
            <ul class="md:flex items-center justify-between text-bold text-pink-500 pt-4 md:pt-0">
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/}">Home</a></li>
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/proveedor/formulario}">Registro Proveedor</a></li>
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/producto/formulario}">Registro Producto</a></li>
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/cliente/formulario}">Registro Cliente</a></li>
                <li><a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" th:href="@{/cliente/lista}">Facturación</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible ">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-center  md:text-5xl lg:text-6xl text-white">Lista de Clientes</h1>
            <table class="table text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-gray-800 text-gray-500">
                <tr>
                    <th class="p-3">Nombre</th>
                    <th class="p-3 text-left">Cedula</th>
                    <th class="p-3 text-left">Fecha de Nacimiento</th>
                    <th class="p-3 text-left">Producto</th>
                    <th class="p-3 text-left">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}"
                        class="bg-gray-800">
                    <td class="p-3">
                        <div class="flex align-items-center">
                            <div class="ml-3">
                                <div th:text="${cliente.nombre}"></div>
                                <div th:text="${cliente.apellido}" class="text-gray-500"></div>
                            </div>
                        </div>
                    </td>
                    <td th:text="${cliente.cedula}" class="p-3">
                    </td>
                    <td th:text="${cliente.fechaNacimiento}" class="p-3 font-bold">
                    </td>
                    <td class="p-3">
                        <!-- FORMULARIO que envía cliente y producto -->
                        <form th:action="@{/factura/formulario}" method="get">
                            <input type="hidden" name="cedula" th:value="${cliente.cedula}" />
                            <select name="productoId"
                                    class="w-full bg-gray-800 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                                <option th:each="producto : ${productos}"
                                        th:value="${producto.id}"
                                        th:text="${producto.nombre}"></option>
                            </select>
                            <button type="submit"
                                    class="mt-2 px-3 py-1 bg-blue-600 hover:bg-blue-700 text-white rounded">
                                <i class="material-icons-outlined text-base align-middle">receipt_long</i>
                            </button>
                        </form>
                    </td>
                    <td class="p-3 ">
                        <a th:href="@{/cliente/actualizar/}+${cliente.cedula}" class="text-gray-400 hover:text-gray-100  mx-2">
                            <i class="material-icons-outlined text-base">edit</i>
                        </a>
                        <a th:href="@{/cliente/eliminar/}+${cliente.cedula}"class="text-gray-400 hover:text-gray-100  ml-2">
                            <i class="material-icons-round text-base">delete_outline</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<style>
    .table {
        border-spacing: 0 15px;
    }

    i {
        font-size: 1rem !important;
    }

    .table tr {
        border-radius: 20px;
    }

    tr td:nth-child(n+5),
    tr th:nth-child(n+5) {
        border-radius: 0 .625rem .625rem 0;
    }

    tr td:nth-child(1),
    tr th:nth-child(1) {
        border-radius: .625rem 0 0 .625rem;
    }
</style>