<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lista Facturas</title>
    <link rel="icon" type="image/png" th:href="@{/imgs/logoEmpresa.png}" />
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- Barra de navegación-->
<header class="lg:px-16 px-4 flex flex-wrap items-center py-4 shadow-sm bg-violet-950 rounded-t-lg shadow-lg">
    <div class="flex-1 flex justify-between items-center mix-blend-screen">
        <a th:href="@{/}" class="text-4xl text-fuchsia-500 font-extrabold">Lo-Fi Arcade</a>
    </div>

    <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg class="fill-current text-pink-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
            <ul class="md:flex items-center justify-between text-bold text-pink-500 pt-4 md:pt-0">
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/}">Home</a></li>
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/proveedor/formulario}">Registro Proveedor</a></li>
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/producto/formulario}">Registro Producto</a></li>
                <li><a class="md:p-4 py-3 px-0 block" th:href="@{/cliente/formulario}">Registro Cliente</a></li>
                <li><a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" th:href="@{/cliente/lista}">Facturación</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible ">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-center  md:text-5xl lg:text-6xl text-white">Lista de Facturas</h1>
            <table class="table text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-gray-800 text-gray-500">
                <tr>
                    <th class="p-3">Num</th>
                    <th class="p-3 text-left">Propietario</th>
                    <th class="p-3 text-left">Nombre Producto</th>
                    <th class="p-3 text-left">Precio Unitario</th>
                    <th class="p-3 text-left">Subtotal</th>
                    <th class="p-3 text-left">Total</th>
                    <th class="p-3 text-left">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="factura : ${facturas}"
                    class="bg-gray-800">
                    <td th:text="${factura.id}" class="p-3">
                    <td th:text="${factura.cliente.nombre}" class="p-3">
                    <td th:text="${factura.producto.nombre}" class="p-3">
                    <td th:text="${factura.producto.precioUnitario}" class="p-3">
                    </td>
                    <td th:text="${factura.subtotal}" class="p-3">
                    <td th:text="${factura.total}" class="p-3 font-bold">
                    </td>
                    <td class="p-3 ">
                        <form th:action="@{/factura/actualizar/}+${factura.id}" method="get">
                            <input name="cedula" type="hidden" th:value="${factura.cliente.cedula}" />
                            <input name="productoId" type="hidden" th:value="${factura.producto.id}" />
                        <button type="submit" class="text-gray-400 hover:text-gray-100  mx-2">
                            <i class="material-icons-outlined text-base">edit</i>
                        </button>
                        </form>
                        <a th:href="@{/factura/eliminar/}+${factura.id}"class="text-gray-400 hover:text-gray-100  ml-2">
                            <i class="material-icons-round text-base">delete_outline</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<style>
    .table {
        border-spacing: 0 15px;
    }

    i {
        font-size: 1rem !important;
    }

    .table tr {
        border-radius: 20px;
    }

    tr td:nth-child(n+5),
    tr th:nth-child(n+5) {
        border-radius: 0 .625rem .625rem 0;
    }

    tr td:nth-child(1),
    tr th:nth-child(1) {
        border-radius: .625rem 0 0 .625rem;
    }
</style>